.env
.cache
*.pyc
*.mp3
*.webm
*.wav
*.flac
*.m4a
*.mp4
*.avi
*.mov
*.wmv
*.mkv
*.txt

# Virtual environment
venv/
ENV/
env/
.venv/

# Python cache files
__pycache__/
*.py[cod]
*$py.class


# Temporary files
*.tmp
*.log
*.bak
*.swp
*.swo
*.DS_Store

# Temporary directories
temp/
tmp/
*.temp/
*.tmp/

# Configuration files
config.py


app/static/images/