*.mp3
*.webm
*.wav
*.flac
*.m4a
*.mp4
*.avi
*.mov
*.wmv
*.mkv
*.txt

# Python
*.pyc
__pycache__/
*.pyo
*.pyd
*.py[cod]
*$py.class

# Virtual environment
venv/
ENV/
env/
.venv/
.env


# Temporary files
*.tmp
*.log
*.bak
*.swp
*.swo
*.DS_Store
*.cache

# Temporary directories
temp/
tmp/
*.temp/
*.tmp/

# Configuration files
.env
.cache
config.py
app/static/images/