<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>YouTube DJ Set Analyzer</title>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;600&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <style>
        body {
            background: url('{{ url_for('static', filename='images/background.jpg') }}') no-repeat center center fixed;
            background-size: cover;
        }
    </style>
</head>
<body>
    <header>
        <!-- <img src="{{ url_for('static', filename='images/logo.png') }}" alt="Logo" class="logo" loading="lazy"> -->
        <h1>DJ Set / Concert ➡️ Spotify Playlist</h1>
    </header>
    <div class="container">
        <p><strong>Enter a link to a YouTube video with songs in it, and we'll analyze it to create a Spotify playlist!</strong></p>
        <div class="search-container">
            <input type="text" id="youtube-link" placeholder="Enter YouTube URL">
            <button id="analyze-button" onclick="analyzeSet()" title="Click to analyze the YouTube DJ set and create a Spotify playlist">🔍 Analyze and make playlist</button>
        </div>
        <div id="result"></div>
        <div id="progress-container" style="display: none;">
            <p>Estimated analysis time: <span id="estimated-time"></span></p>
            <p>Progress: <span id="progress"></span>%</p>
        </div>
        <section id="introduction">
            <p>Ever wished you could effortlessly turn an incredible DJ set from YouTube into a Spotify playlist? Our YouTube DJ Set Analyzer can make that happen!</p>
        </section>
        <section id="features">
            <h2>🌟 Features You'll Love 🌟</h2>
            <ul class="features-list">
                <li>🎤 <strong>Songs:</strong> Convert YouTube videos with song(s) to a Spotify Playlist</li>
                <li>🎧 <strong>Seamless Conversion:</strong> Convert YouTube DJ sets into Spotify playlists with ease.</li>
                <li>🔍 <strong>Accurate Track Identification:</strong> Leveraging advanced technology to identify songs.</li>
                <li>✅ <strong>Automated Playlist Creation:</strong> Enjoy a fully automated playlist creation process.</li>
            </ul>
        </section>
        <section id="limitations">
            <h2>⚠️ Key Limitations ⚠️</h2>
            <ul>
                <li>⏳ Longer videos will be slow (Working to fix!)</li>
                <li>🎛️ Heavily mixed or live tracks may sometimes be misidentified.</li>
                <li>🔄 Playlist might have duplicates.</li>
            </ul>
        </section>
        <p><a href="/about"><i class="fas fa-info-circle"></i> ℹ️ Features, Limitations and Contact info</a></p>
    </div>
    <footer>
        <p>&copy; 2024 YouTube DJ Set Analyzer. All rights reserved.</p>
    </footer>

    <script src="https://cdn.socket.io/4.0.0/socket.io.min.js"></script>
    <script>
        var socket = io();

        socket.on('progress_update', function(data) {
            document.getElementById('progress-container').style.display = 'block';
            document.getElementById('estimated-time').innerText = data.estimated_time;
            document.getElementById('progress').innerText = data.progress.toFixed(2);
        });

        function analyzeSet() {
            var link = document.getElementById('youtube-link').value;
            var result = document.getElementById('result');
            var button = document.getElementById('analyze-button');
            
            // Disable the button and show loading message
            button.disabled = true;
            result.style.display = 'block';
            result.innerHTML = "🔄 Analyzing... This may take a while (1-2 min) depending on the length of the set.";

            fetch('/analyze', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                },
                body: JSON.stringify({ link: link }),
            })
            .then(response => {
                if (!response.ok) {
                    throw new Error(`HTTP error! status: ${response.status}`);
                }
                return response.json();
            })
            .then(data => {
                result.innerHTML = `Estimated analysis time: ${data.estimated_time}<br>${data.message}`;
                button.disabled = false; // Re-enable the button
            })
            .catch((error) => {
                console.error('Error:', error);
                result.innerHTML = `❌ An error occurred: ${error.message}. Please try again.`;
                button.disabled = false; // Re-enable the button
            });
        }
    </script>
</body>
</html>